	@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
	--main-font: sans-serif;
	--font-size: 16px;
	--main-color:#ecbe13;
	--second-color:#222;
	--main--modal--color:rgba(247,222,30,0.85);
	--second-modal-color:rgba(34,34,34,0.85);
	--container-width:1200px;
};

*{
	margin: 0;
	box-sizing: border-box;
}

html{ 
scroll-behavior: smooth; 
}

body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}


.header{ 
	text-align: center;
	background-color: rgb(247,222,30);
	width: 100vw;
	position: fixed;
	z-index: 50;
	top: 0;
	
}

.header h1{ 
	margin: 0
 }
 
 .secciones{ 
 	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  .seccion{ 
	height: min-content;
	margin:2rem ;
   }
.menu{ 
	background: rgba(161,161,161,0.5);
	position: fixed;
	width: 100%;
	left: -100%;
 	top: 0px; 
	z-index: 90;
	bottom: 0px;
	right:0; 
	display: flex;
 	align-items: center;
 	width: 100%;
	 transition: 300ms;
	overflow-y: scroll;
	height: 100vh;	
 }

 .menu-active{
	 	left:0%;
	 }


   .menu-main{ 
	list-style: none;
	padding: 0;
	width: 100%;
	font-size: 5em;

    }

.menu-list{
	border-bottom: 2px #000 solid ;
	text-align:center;
	width: 100
	
}

.menu-list:last-child{
	border-bottom: none
}


   .menu-list a{
		text-decoration: none;
		color: #000
   }

    .burgerbutton{ 
    	position: fixed;
    	right: 1vw;
    	bottom: 1.5vh;
		border-radius: 50%;
		border-style: none;
		background-color: #ecbe13;
		padding: 10px;
		transition: all .2s ease-in-out;
		cursor: pointer;
		z-index: 100;
		 }

 

    .burgerbutton:hover{ 
		transform: scale(1.1);

     }


    .tituloSeccion{ 
	  	display: flex;
	  	flex-direction: column;
	  	justify-content: center;
	  	align-items: center;
     }


    .tituloSeccion h2,h3{ 
	  	margin: 0
	  }



	

	 .displayReloj{
	 	display: none;
	 	justify-content: center;
	 }

	 .displayReloj p{ 
		padding: .2em;
		font-size: 2em;
		font-weight: bold;

	  }

	  #lienzo{
		margin-top: 10px;
		background-color: darkgrey;
		width: 900px;
		height: 200px;

	
	  }


	  #pelota{
		  background-color:var(--main--modal--color) ;
		  width: 20px;
		  height: 20px;
		  border-radius: 50%;
		
	
	  }

	  .scroll-top-btn{
		  position: fixed;
		  z-index: 50;
		  bottom: 1vh;
		  right: calc(4.25rem + 1vw);
		  width: 4rem;
		  height: 4rem;
		  border-radius: 50%;
		  font-size: 2rem;
		  font-weight: bold;
		  background-color: var(--main-color);
		  color: var(--second-color);
		  border-style: none;
		  outline: 0;
		  cursor: pointer;
		  transition:all 0.3s ease-out ;
		}

	    .scroll-top-btn:hover{
			background-color:  var(--second-color);
			color:var(--main-color);

		}

		.hidden{
			opacity: 0;
			visibility: hidden;

		}


		.dark-theme-btn{
			position: fixed;
			z-index: 50;
			bottom: 1vh;
			left: 1vw;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			font-size: 2rem;
			font-weight: bold;
			background-color: var(--main-color);
			color: var(--second-color);
			border-style: none;
			outline: 0;
			cursor: pointer;
			transition:all 0.3s ease-out ;
		  }
  
		  .dark-theme-btn:hover{
			  background-color:  var(--second-color);
			  color:var(--main-color);
  
		  }

		  .dark-mode{
			  background-color: var(--second-color);
			  color: var(--main-color);
		  }



		  /*network status*/

		  .online, .offline{
			  position: sticky;
			  top: 0;
			  z-index: 100;
			  padding: 1rem;
			  font-size: 1.5rem;
			  font-weight: bold;
			  text-align: center;
			  background-color: #1b5e20;
			  color:#fff
		  }
		  .offline{
			  background-color: #b71c1c;
		  }


		  /****Search filters***/



		  #s10{
			width: 90vw;
		  }

		  .cards{
			  display: grid;
			  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		  }

		  .card{
			  background-color: var(--second-color);
			  color: var(--main-color);
			  transition: all 0.05s ease-out;
			}

		.card img{
			width: 100%;
			height: auto;
		}

		.card figcaption{
			padding: 1rem;
			text-align: center;
		}

		.filter{
			/*display: none;*/
			visibility: hidden;
			opacity: 0;
			order: 1;
		}



		/***** slider respondive*/

		.slider{
			width: 80vw;
			margin: 1rem auto;
			position: relative;
			text-align: center;
		}

		.slider-slides{
			position: relative;
			height: 400px;
		}

		.slider-slide{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			transition: opacity ease 1s;	
		}



		.slider-slide img{
			height: inherit;
			width: inherit;
			object-fit: contain;
		/*	object-fit: cover;
			object-position: 50% 20%;*/
		}

		.slider-slide.active{
		opacity: 1;
		visibility: visible;
		}


		.slider-btn{
			position: absolute;
			width: 100%;
			top: 50%;
			display: flex;
			justify-content: space-between;
			font-size: 3em;
			font-weight: bold;
		}


		.slider a{
			display: block;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			border: thin solid black ;
			background-color: #fff;
			color:#000;
			transition: all 0.3 ease;
		}

		.slider a:hover{
			color: #4d4d4d;
		}

		.videoo{
			width: 600px;
			height: 400px;
			margin: 20px;
		}




		.formulario{
			margin-top:  2rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		/* Scroll-Spy*/

		@media screen and (min-width:1024px){
			body{
				display: grid;
				grid-template-columns: 80% 20%;
				grid-template-rows: 4rem auto;
				grid-template-areas: 
				"header header"
				"main panel"
				;
				
			}
	
			main{
				grid-area: main;
				
				
			}

			.secciones{
				margin: 0 2rem 1rem 2rem; 
			}

			.header{
				grid-area: header;
				height: 4rem;
			}


			.menu-main{
				list-style: none;
				padding: 0;
				width: 100%;
				font-size: 1.5rem;
				
			}

			.cards{
				width: 70vw;
				position: relative;
				left: 7rem;
			}
			
			
			.menu{
				grid-area: panel;
				position: sticky;
				top:4rem;
				transform: translate(0,0);
				opacity: 1;
				visibility: visible;
				z-index:49 ;
				overflow: hidden;
				align-items: start;
				background-color: var(--second-color);
			}
			.menu-list{
				text-align: right;
				padding: 0.5rem;
			}
			
			.menu-list a{
				color: var(--main-color);
			}

			.menu-list:hover {
				background-color: #fff;
				font-weight: bold;
			}

			a.active{
				font-weight: bold;
				color: white;
			}



			.burgerbutton{
				display: none;
			}

			.scroll-top-btn{
				right:initial;
				left:  calc(4.25rem + 1vw);
			}



		}



/*contact forn validation*/


.contact-form{
	text-align: center;
	--form-ok-color: #4caf50;
	--form-error-color: #f44336;
	margin-left: auto;
	margin-right: auto;

}

.contact-form > *{
 	display: block;
	margin: 1rem;
	width: 100%;
	padding: .5rem;
}

.contact-form textarea{
	resize: none;
}

.contact-form legend,
.contact-form-response{
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.contact-form input,
.contact-form textarea{
	font-size: 1rem;
	font-family: sans-serif;
}

.contact-form input[type='submit']{
	width: 50%;
	font-weight: bold;
	cursor: pointer;
	margin: auto;
}


.contact-form *::placeholder{
	color: #000;
}

.contact-form [required]:valid{
	border: thin solid var(--form-ok-color)
}

.contact-form [required]:invalid{
	border: thin solid var(--form-error-color)
}

.contact-form-error{
	margin-top: -1rem;
	font-size: 80%;
	background-color: var(--form-error-color);
	color: #fff;
	transition: all 800ms ease;	
}

.none{
	display: none;
}

.contact-form-error.is-active{
	display: block;
    /*animation: show-message 1s 1 normal 0s ease-out both*/
}



@keyframes show-message{
	0% {
		visibility: hidden;
		opacity: 0;
	}

	100%{
		visibility: hidden;
		opacity: 1;
	}
}



.speech{
	display: flex;
	justify-content: center;
	flex-direction: column;
}


.speech > *{
	display: block;
	margin: 0.5rem;
}