	@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
	--main-font: sans-serif;
	--font-size: 16px;
	--main-color:#ecbe13;
	--second-color:#222;
	--main--modal--color:rgba(247,222,30,0.85);
	--second-modal-color:rgba(34,34,34,0.85);
	--container-width:1200px;
};

*{
	margin: 0;
	box-sizing: border-box;
}

html{ 
scroll-behavior: smooth; 
}

body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}


.header{ 
	text-align: center;
	background-color: var(--main--modal--color);
	z-index: 20;
 }

.header h1{ 
	margin: 0
 }
 
 .secciones{ 
 	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  .seccion{ 
	height: 40vh;
	margin:2rem ;
   }
.menu{ 
	background: rgba(161,161,161,0.5);
	position: fixed;
	width: 100%;
	left: -100%;
 	top: 0px; 
	z-index: 2;
	bottom: 0px;
	right:0; 
	display: flex;
 	align-items: center;
 	width: 100%;
 	transition: 300ms;
 }

 .menu-active{
	 	left:0%;
	 }


   .menu-main{ 
	list-style: none;
	padding: 0;
	width: 100%;
	font-size: 5em;

    }

.menu-list{
	border-bottom: 2px #000 solid ;
	text-align:center;
	width: 100
	
}

.menu-list:last-child{
	border-bottom: none
}


   .menu-list a{
		text-decoration: none;
		color: #000
   }

    .burgerbutton{ 
    	position: fixed;
    	right: 1vw;
    	bottom: 1.5vh;
		border-radius: 50%;
		border-style: none;
		background-color: #ecbe13;
		padding: 10px;
		transition: all .2s ease-in-out;
		cursor: pointer;
		z-index: 10;
		 }

 

    .burgerbutton:hover{ 
		transform: scale(1.1);

     }


    .tituloSeccion{ 
	  	display: flex;
	  	flex-direction: column;
	  	justify-content: center;
	  	align-items: center;
     }


    .tituloSeccion h2,h3{ 
	  	margin: 0
	  }



	

	 .displayReloj{
	 	display: none;
	 	justify-content: center;
	 }

	 .displayReloj p{ 
		padding: .2em;
		font-size: 2em;
		font-weight: bold;

	  }

	  #lienzo{
		margin-top: 10px;
		background-color: darkgrey;
		width: 900px;
		height: 200px;

	
	  }


	  #pelota{
		  background-color:var(--main--modal--color) ;
		  width: 20px;
		  height: 20px;
		  border-radius: 50%;
		
	
	  }

	  .scroll-top-btn{
		  position: fixed;
		  z-index: 999;
		  bottom: 1vh;
		  right: calc(4.25rem + 1vw);
		  width: 4rem;
		  height: 4rem;
		  border-radius: 50%;
		  font-size: 2rem;
		  font-weight: bold;
		  background-color: var(--main-color);
		  color: var(--second-color);
		  border-style: none;
		  outline: 0;
		  cursor: pointer;
		  transition:all 0.3s ease-out ;
		}

	    .scroll-top-btn:hover{
			background-color:  var(--second-color);
			color:var(--main-color);

		}

		.hidden{
			opacity: 0;
			visibility: hidden;

		}


		.dark-theme-btn{
			position: fixed;
			z-index: 999;
			bottom: 1vh;
			left: 1vw;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			font-size: 2rem;
			font-weight: bold;
			background-color: var(--main-color);
			color: var(--second-color);
			border-style: none;
			outline: 0;
			cursor: pointer;
			transition:all 0.3s ease-out ;
		  }
  
		  .dark-theme-btn:hover{
			  background-color:  var(--second-color);
			  color:var(--main-color);
  
		  }

		  .dark-mode{
			  background-color: var(--second-color);
			  color: var(--main-color);
		  }