/********************* Resert CSS *******************/


:root{
	--main-font: sans-serif;
	--font-size: 16px;
	--main-color:#f7df1e;
	--second-color:#222;
	--main--modal--color:rgba(247,222,30,0.85);
	--second-modal-color:rgba(34,34,34,0.85);
	--container-width:1200px;
}

html{ 
	box-sizing: border-box;
	font-family: var(--main-font);
	font-size: var(--font-size);
	scroll-behavior: smooth;
 }

 *,
 *:before,
 *:after{ 
  	box-sizing: inherit;
  }


  body{
  	margin:0;
  	height: auto;
  }

  img{ 
  max-width: 100%;
  height: auto; }

/******Menu de hamburguesa******/

.header{ 
	position: sticky;
	top:0;
	padding: 1em;
	background-color: var(--main-color);
	color:var(--main-font);
 }

.header h1{ 
	text-align: center;
	margin: 0 auto;
 }


.seccion{ 
	padding: 2rem;
	padding-top: 4rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: var(--container-width);
	min-height: 100vh;
	text-align:center;
 }


.panel{
	position: fixed;
	z-index: 998;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	background-color: var(--second-modal-color);
	transition: transform .3s ease;
	transform:translate( -100%,0)  


}
.panel.is-active{
	transform:translate( 0, 0);
	

}


 .panel-btn{
 	position: fixed;
 	z-index: 999;
 	bottom: 1vh;
 	width: 4em;
 	height: 4em;
 	right: 1vw;
 	border-radius: 50%;
 	padding:0;
 	display: flex;
 	justify-content: center;
 	align-items: center;
	background-color: var(--main-color) 
 }

.menu{ 
width: inherit;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
text-align: center;
 }

.menu a{ 
	padding:  2rem;
	width: inherit;
	display: block;
	font-size: 1.5rem;
	text-decoration: none;
	color: var(--main--modal--color);
	transition: all 0.1s ease;
 }


 .menu a:hover{ 
	font-weight: bold;
	color: var(--second-modal-color);
	background-color: var(--main--modal--color);

  }
